@font-face {
  font-family: 'Old English Gothic Pixel';
  src: url('gothgaming.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}


body {
  background-color: black;
  color: white;
  position: relative;  /* This makes the position of the child elements relative to the body */
  margin: 0; /* This is to ensure the body takes the full width and height */
  height: 100vh; /* This is to ensure the body takes the full viewport height */
  
  margin: 0;
  padding: 0;
  color: #eee;
  font: caption;
  overflow-x: hidden;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }



@keyframes spin {
  from {
    transform: translateX(-50%) rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: translateX(-50%) rotate3d(1, 1, 1, 360deg);
  }
}

#jasongodfreyicon {
  position: relative;
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 150px;
  animation: spin 4s linear infinite;
  transition: 0.3s all;
  z-index: 5;
}

#jasongodfreyicon:hover {
  filter: invert(1); /* this will change the color to the opposite on hover, i.e., white becomes black and vice versa */
}


.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  margin-top: 150px;
}


.portfolio-grid img {
  width: 100%;
  height: auto;
  border: 3px solid transparent; /* Add a transparent border by default */
  transition: border-width 0.3s; /* Add a transition effect for smooth animation */
}

.portfolio-grid img:hover {
  border-width: 3px; /* Increase the border width on hover */
  border-color: white; /* Set the border color to white on hover */
}
/* This media query changes the grid to a single column on screens smaller than 600px */
@media (max-width: 600px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  background-image: url('../japanesemanga.png'); /* Replace with the correct path to your image if it's different */
  background-size: cover; /* This scales the image to cover the entire header */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-position: center; /* This centers the image in the header */
  z-index: 1000; /* This makes sure the header is always on top of other elements */


}



nav ul.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Horizontal offset, Vertical offset, Blur radius, and color */

  
}

nav ul.nav-links a:hover {
  color: #ff810b;
}

nav ul.nav-links a.active-link {
  color: #15fc00;  /* Change this to the color you want for the active link */
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1; /* This will put the game behind your other content */
  
}

.aboutparagraph {
  z-index: 10;  /* Places it above the background */
  padding: 2rem;  /* Adds some space around the text */
  background: rgba(0, 0, 0, 0.6);  /* Semi-transparent background */
  color: #fff;  /* Text color */
  max-width: 800px;  /* Set a max width */
  margin: 0 auto;  /* Center it horizontally */
  box-sizing: border-box;  /* Ensures padding is included in width */
  font-size: 14px;  /* Set font size */
  line-height: 1.6;  /* Set line height */
  border-radius: 10px;  /* Optional: rounds the corners of the background */
  animation: fadeIn 2s;  /* Fade in animation */
}



@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}



#game-container {
  display: flex;
  flex-direction: column;  /* Controls the direction of the content */
  justify-content: center;
  align-items: center;
  width: 100%;
  
  z-index: -1;
  margin-top: -89px; /* This will move the game down 20px */

}



#icon-container {
  display: block;
  width: 100%;
  text-align: center; /* Center the icon */
}
#content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This separates the game and about sections */
  align-items: center;
  height: 140vh; /* This ensures the container covers the full viewport height */
}

#name-container {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 50%;
  text-align: center;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, 0); /* Updated the transform here */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
}

#name-container h1 {
  color: rgba(255, 0, 34, 0.573);
  font-family: 'Old English Gothic Pixel';
  font-size: 5.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden; /* Keeps overflow hidden */
  animation: float 4s ease-in-out infinite;
  text-shadow: 1px 1px #ff000000, 
               2px 2px #710000, 
               3px 3px #290000;
  max-width: 100%; /* Ensures it doesn't exceed the container's width */
}
#icons-container {
  position: relative; /* Set the position to relative */
  top: -130px; /* Adjust this value to move the container up */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  padding: 20px 0; 
}

#icons-container img {
  width: 100%; 
  height: auto; 
  animation: scroll 30s linear infinite; /* Add the scrolling animation */
}

/* Define the scroll animation */
@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

